<th:block th:fragment="home-me">
    <div class="card-deck wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="home-me card"   >
            <div class="card-body">
                <img src="/images/avatar.png" width="100" alt="Raymon logo" class="home-logo" title="">
                <h5 class="card-title">Raymon</h5>
                <hr style="width: 30%; margin-left: 35%;">
                <p>Coding my life</p>
                <hr style="width: 50%; margin-left: 25%;">
                <a href="mailto:lilomin@126.com">
                    <img src="/images/social/mail_light.png">
                </a>
                <a href="https://github.com/lilomin">
                    <img src="/images/social/github_light.png">
                </a>
                <a href="https://music.163.com/#/user/home?id=60988330">
                    <img src="/images/social/ne_music_light.png">
                </a>
                <a>
                    <img style="cursor: pointer;" title="lilomin" src="/images/social/wechat_light.png">
                </a>
            </div>
        </div>
    </div>
    <div class="card-deck wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="card">
            <div class="card-body">
                <div style="margin-bottom: 1rem;">
                    <embed src="/images/svg/tag.svg" width="20" height="20" style="vertical-align: middle;"
                           type="image/svg+xml"></embed>
                    <span><h5 class="card-title" style="display: inline;vertical-align: middle;">标签</h5></span>

                </div>
                <th:blank th:each="tag,stat : ${tags}">
                    <a th:href="@{/?tag={tag}(tag=${tag.tag})}" class="card-link" style="margin: 1px 7px 1px 0;">
                        <th:blank th:if="${stat.index % 4 == 0}">
`                            <button type="button" class="blog-tag-font btn btn-outline-primary" style="margin-bottom: 0.5rem;">
                                <span th:text="${tag.tag}"></span>
                                <sup th:text="${tag.count}"></sup>
                            </button>
                        </th:blank>

                        <th:blank th:if="${stat.index % 4 == 1}">
                            <button type="button" class="blog-tag-font btn btn-outline-success" style="margin-bottom: 0.5rem;">
                                <span th:text="${tag.tag}"></span>
                                <sup th:text="${tag.count}"></sup>
                            </button>
                        </th:blank>

                        <th:blank th:if="${stat.index % 4 == 2}">
                            <button type="button" class="blog-tag-font btn btn-outline-danger" style="margin-bottom: 0.5rem;">
                                <span th:text="${tag.tag}"></span>
                                <sup th:text="${tag.count}"></sup>
                            </button>
                        </th:blank>

                        <th:blank th:if="${stat.index % 4 == 3}">
                            <button type="button" class="blog-tag-font btn btn-outline-warning" style="margin-bottom: 0.5rem;">
                                <span th:text="${tag.tag}"></span>
                                <sup th:text="${tag.count}"></sup>
                            </button>
                        </th:blank>
                    </a>
                </th:blank>
            </div>
        </div>
    </div>
    <div class="card-deck wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="card">
            <div class="card-body">
                <embed src="/images/svg/archive.svg" width="20" height="20" style="vertical-align: middle;" type="image/svg+xml"></embed>
                <span><h5 class="card-title" style="display: inline;vertical-align: middle;">归档</h5></span>
            </div>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="cate : ${cateList}">
                    <a class="blog-tag-font" th:href="@{/?filter={filter}(filter=${cate.filterValue})}" th:text="${cate.title}"></a>
                    <span class="badge badge-primary badge-pill" th:text="${cate.count}"></span>
                </li>
            </ul>
        </div>
    </div>
</th:block>