<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->

<head th:include="fragments/layout :: htmlhead" th:with="title='test'">
</head>

<body>

<div th:replace="fragments/layout :: header"></div>
<div th:replace="fragments/layout :: header-cover"></div>

<div class="main-contain container-fluid">list</div>

<div th:replace="fragments/layout :: footer"></div>
</body>

<script src="/plugin/wow/wow.min.js"></script>
<script th:inline="javascript">
    new WOW().init();
</script>
</html>