<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/layout :: htmlhead" th:with="title='test'"></head>

<body>

    <div th:replace="fragments/layout :: header"></div>

    <div th:if="${session.user != null}">
        <input id="userId" style="display:none;" th:value="${session.user.userId}"/>
    </div>

    <form style="padding:4% 2% 2%;">
        <th:block th:if="${session.user != null}">
            <div class="form-group">
                <label>Title</label>
                <input id="blog-title" type="text" class="form-control" placeholder="Enter title"/>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-sm-12" style="margin-bottom: 1rem;">
                        <label>Tags</label>
                        <input class="form-control" name="tags" id="blog-tags"/>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <label>Cover Image</label>
                        <div class="custom-file">
                            <input id="blog-image" type="file" class="custom-file-input"/>
                            <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea id="blog-desc" class="form-control" placeholder="Enter paragraph description"></textarea>
            </div>
        </th:block>
        <div class="editormd" id="editormd-container">
            <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="editormd"></textarea>
        
            <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
            <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
            <textarea class="editormd-html-textarea" name="editorhtml" id="editorHtml"></textarea>
        </div>
        
        <div style="text-align: right; padding-bottom: 1%;" th:if="${session.user != null}">
            <div id="bError">
            </div>
            <button id="blogPreview" type="button" class="btn btn-primary">Preview</button>
            <button id="blogSubmit" type="button" class="btn btn-success">Submit</button>
        </div>
    </form>

    <div th:replace="fragments/layout :: footer"></div>

</body>

</html>
<link rel="stylesheet" href="/css/tagsinput.min.css" />
<link rel="stylesheet" href="/plugin/editormd/css/editormd.min.css" />
<script src="/js/tagsinput.min.js"></script>
<script type="text/javascript" src="/plugin/editormd/editormd.min.js"></script>
<script>
   $('#blog-tags').tagsInput();
</script>