<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--head部分-->

<head th:include="fragments/layout :: htmlhead" th:with="title='test'">
</head>

<body>

    <div th:replace="fragments/layout :: header"></div>
    <div th:replace="fragments/layout :: header-cover"></div>

    <div class="main-contain container-fluid">
        <div class="row">
            <div id="home-card"></div>
        </div>
        <br>
        <div class="row justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    
                </ul>
            </nav>
        </div>
    </div>

    <div th:replace="fragments/layout :: footer"></div>

</body>

</html>